.container_sdk {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  overflow: hidden;
}

.filters {
  padding: 16px;
}

.wrapper {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  min-height: 0;
}

.map {
  flex: 7;
}

.listings {
  flex: 7;
  min-height: 0;
  overflow: auto;
}

@media screen and (min-width: 1440px) {

}

@media screen and (max-width: 992px) {

}

/* For larger screens, ensure at least two columns */
@media (min-width: 768px) and (max-width: 991px) {


}

@media (max-width: 768px) {

}

@media screen and (max-width: 576px) {
}

@media screen and (min-width: 426px) and (max-width: 576px) {
 
}

@media screen and (max-width: 375px) {
}

/* Extra small screens */
@media (max-width: 530px) {
}
