.rch-listing-block-gutenberg {
  width: 95%;
  margin: 10px auto;
}

.rch-listing-block-gutenberg .container_listing_sdk {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  overflow: hidden;
}

.rch-listing-block-gutenberg .filters {
  padding: 16px;
}

.rch-listing-block-gutenberg .wrapper {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  min-height: 0;
}

.rch-listing-block-gutenberg .map {
  flex: 7;
  border: 4px solid rgb(255, 255, 255);
  box-shadow: rgba(16, 24, 40, 0.12) 0px 1px 3px;
  border-radius: 8px;
}

.rch-listing-block-gutenberg .listings {
  flex: 7;
  min-height: 0;
  overflow: auto;
}
.rch-listing-block-gutenberg .listings .listing-card {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
}
.rch-listing-block-gutenberg .listings .listing-card:hover {
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: #efefef;
}
.rch-listing-block-gutenberg
  .listings
  .listing-card
  .listing-card__badges-container
  .listing-card__badge {
  color: white;
}
/* Agent Card Styles */
.rch-listing-block-gutenberg .agent-container {
  height: 200px;
  display: flex;
  margin-bottom: 32px;
  padding: 8px 16px;
  gap: 32px;
  background: linear-gradient(to bottom, #f5f5f5, transparent);
  border-radius: 0 8px 8px 0;
}

.rch-listing-block-gutenberg .agent-container img {
  height: auto;
  border-radius: 16px 16px 0 16px;
}

.rch-listing-block-gutenberg .agent-container__heading {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.rch-listing-block-gutenberg .agent-container__heading .title {
  font-size: 32px;
  font-weight: 800;
}

.rch-listing-block-gutenberg .agent-container__heading span {
  font-size: 24px;
  color: gray;
}

.rch-listing-block-gutenberg .agent-container__contact {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-top: 32px;
}

.rch-listing-block-gutenberg .agent-container__contact .contact-item {
  font-weight: 500;
  font-size: 18px;
  color: #1a1a1a;
}

.rch-listing-block-gutenberg .agent-container__contact .contact-item.address {
  color: gray;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {
}

@media screen and (max-width: 992px) {
}

/* For larger screens, ensure at least two columns */
@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (min-width: 426px) and (max-width: 576px) {
}

@media screen and (max-width: 375px) {
}

/* Extra small screens */
@media (max-width: 530px) {
}
