.rch-search-listing-form {
  width: 100%;
  margin: 15px auto;
  padding: 20px;
}

.rch-search-form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.rch-search-listing-form .rch-search-form-widget {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rch-search-listing-form .rch-search-filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rch-search-listing-form .rch-search-filters select,
.rch-search-listing-form .rch-search-filters input[type="search"] {
  padding: 18px 9px;
  background-color: #fff;
  border: solid 1px #d0d0d0;
  border-right: none;
  height: 55px;
}

.rch-search-listing-form .rch-search-filters input[type="search"] {
  min-width: 280px;
  width: 100%;
}

.rch-search-listing-form .rch-search-filters select {
  cursor: pointer;
  outline: none !important;
}

@media screen and (max-width: 1200px) {
  .rch-search-listing-form .rch-search-form-widget {
    flex-direction: column;
    row-gap: 0.75rem;
  }

  .rch-search-listing-form .rch-search-filters {
    flex-wrap: wrap;
  }

  .rch-search-listing-form
    .rch-search-filters
    .rch-search-form-col:first-child {
    width: 100%;
    margin-block-end: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .rch-search-form-widget {
    flex-direction: column;
    align-items: stretch;
  }

  .rch-search-listing-form .rch-search-form-col,
  .rch-search-listing-form .rch-search-filters #search-maximum_price {
    width: 33.33%;
  }

  .rch-search-listing-form .rch-search-filters select {
    width: 100%;
  }

  .rch-search-listing-form .rch-search-filters input[type="search"] {
    border-right: solid 1px #d0d0d0;
  }
}

@media screen and (max-width: 425px) {
  .hero--title {
    font-size: var(--text-3xl);
  }

  .hero .swiper-slide .slide--content p {
    margin-block: 0;
  }

  .rch-search-listing-form {
    margin-block: 0 !important;
  }

  .rch-search-listing-form .rch-search-form-col,
  .rch-search-listing-form .rch-search-filters #search-maximum_price {
    width: 50%;
  }

  .rch-search-form-submit button[type="submit"] {
    padding: 0.75rem 1rem;
    font-size: 14px;
  }

  .rch-search-listing-form .rch-search-filters select,
  .rch-search-listing-form .rch-search-filters input[type="search"] {
    padding: 6px 8px;
    height: 40px;
  }
}
